.fc-event {
  border-radius: unset;
  padding: 5px;
  box-sizing: border-box;
}

.green-white {
  background-color: white;
  color: green !important;
  border: 1px solid green;
  border-left-width: 4px !important;
}

.blue-white {
  background-color: white;
  border: 1px solid blue;
  border-left-width: 4px !important;
}


